test
train
.idea
logs
venv
fonts
images
snapshots
synthetic/data/
synthetic/fonts/
synthetic/texts/
synthetic/images/
out
dataset
/scripts/test
/scripts/train
/scripts/fonts
/scripts/images
/script/*.ttf
/*.h5
/tests/out*
/*.tgz
/sample.txt
*.pyc